
<html>
	<head>
		<link href="/css/homepage.css" rel="stylesheet" type="text/css">
		
		<title>
			Jungle Coder
		</title>
	</head>
	<body>
		<div class="headingBacker">
			<a class="heading" href="/">Jungle Coder</a>
			<p id="motto"><i>The musings of a third culture coder and missionary kid</i></p>
		</div>
		<div id="main">
			<div class="sidebar">
			<div class="content">
				<div class="sidebar-link"><a href="/">Home</a></div>
				<div class="sidebar-link"><a href="/blog/AboutMe">About Me</a></div>
				<div class="sidebar-link"><a href="/blog/feed.xml">RSS feed</a></div>
				<p>
					Welcome to my blog. This website/blog is still under construction, so there are a few rough edges.
				</p>
				<p>UPDATE: RSS feed added, one edge smoothed</p>
				<p>
					To come as my <a href="http://www.catb.org/jargon/html/C/copious-free-time.html">copious free time</a> allows:
				</p>
				<ul>
					<li>Archive list of blog posts and date based permalinks
					</li>
					<li><del>RSS feed.</del>
					</li>
				</ul>
			</div>
			</div>
			<div class="content left body">
				{{/*The Model for this page is literally a list of articles. */}} 
				{{range .}}
				<h2>
					<a class="title" href="/blog/{{.URL}}">{{.Title}}</a>
				</h2>
				{{/*The content will need to be valid html, but aware that it will be in an article*/}} 
				{{.Preview}}<a href="/blog/{{.URL}}" >Read more...</a>
				<hr></hr>
				{{end}}
			</div>
		</div>
	</body>
</html>